<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/app/js/dashboard.js"></script>
		<script src="/app/js/views.js"></script>
		<link href="/app/css/style.css" rel="stylesheet"></link>
	</head>
	<body>

<div id="header">
<h1></h1>

</div>

<div id="nav">
Some Navigation<br>
</div>

<div id="section">


</div>

<div id="footer">
	Some Footer
</div>
		
  <div id="slidercontainer" style="width:100%;text-align:center">
  <div id="pie-chart"></div>
  <div id="slider" style="width:300px;margin-left:auto;margin-right:auto;margin-top:20px"></div>
</div> 
</body> <script src="/app/js/piechart.js"></script>

<script src="/app/js/barchart.js"></script>
</html>